* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", verdana, Tahoma, "Trebuchet MS", sans-serif;
  background-color: blanchedalmond;
  color: rgb(55, 50, 50);
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 16px;
  background-image: repeating-linear-gradient(
      0deg,
      #333333,
      #333333 21.5px,
      transparent 25px,
      transparent 37.04px,
      #333333 39px
    ),
    repeating-linear-gradient(
      90deg,
      #333333,
      #333333 21.5px,
      transparent 25px,
      transparent 37.04px,
      #333333 39px
    ),
    repeating-linear-gradient(
      180deg,
      #333333,
      #333333 21.5px,
      transparent 25px,
      transparent 37.04px,
      #333333 39px
    ),
    repeating-linear-gradient(
      270deg,
      #333333,
      #333333 21.5px,
      transparent 25px,
      transparent 37.04px,
      #333333 39px
    );
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.hero-img {
  width: 100%;
  margin-bottom: 8px;
}

.main-heading {
  font-size: 48px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 16px;
}

.links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.card {
  width: 220px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:not(:last-child) {
  margin-right: 16px;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card p {
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

/* Details Page */
.food-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 16px;
}

.sub-heading {
  margin-bottom: 8px;
}

.text {
  line-height: 1.4rem;
  margin-bottom: 8px;
}

.bigger-mb {
  margin-bottom: 16px;
}

.ingredients,
.steps {
  list-style-position: inside;
  margin-bottom: 16px;
}

.ingredients li,
.steps li {
  padding: 4px;
  border-bottom: 1px solid black;
}

.ingredients li:not(:last-child),
.steps li:not(:last-child) {
  margin-bottom: 8px;
}
